# 🛑 فایل‌های مربوط به محیط مجازی
venv/
env/
*.pyc
__pycache__/

# 🛑 فایل‌های مربوط به پایگاه داده لوکال
db.sqlite3
*.sqlite3

# 🛑 تنظیمات محلی و اطلاعات حساس
.env
*.log
config/settings.py

# 🛑 کش و فایل‌های موقتی
*.swp
*.swo
*.swn
*.bak

# 🛑 فایل‌های استاتیک و مدیا که نیازی به ارسال ندارند
staticfiles/
media/
